language: objective-c
xcode_scheme: TestAppTests

osx_image: xcode8.3

before_install:
    - gem install cocoapods -v '1.2.1'
    - brew update
    - brew outdated xctool || brew upgrade xctool

install:
    - pod install --repo-update

script:
    - xcodebuild -workspace TestApp.xcworkspace -scheme TestApp -sdk iphonesimulator build-for-testing
    - travis_wait xctool -workspace TestApp.xcworkspace -scheme TestApp -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO run-tests
